.small-code pre code {
  font-size: 1em;
}


.reveal h1  {
    font-size: 1.5em;
    font-variant: normal;
    font-weight: bold;
}

.reveal h1.title  {
    font-size: 3em;
    font-variant: normal;
    font-weight: normal;
}


.reveal section img {
  display: block;
  margin: auto;
  background: rgba(255, 255, 255, 0.12);
  border: none;
  box-shadow: 0 0 0 0;
  text-align: left;

}

img{
  display: block;
  margin: auto;
  background: rgba(255, 255, 255, 0.12);
  border: none;
  box-shadow: 0 0 0 0;
  text-align: center;
  
}

#left {
  left:-8.33%;
  text-align: left;
  float: left;
  width:50%;
  z-index:-10;
}

#right {
  left:31.25%;
  top: 75px;
  float: right;
  text-align: right;
  z-index:-10;
  width:50%;
}

#noborder {
  border:0px;
  box-shadow: 0 0 0 0;
}

.white {
  color:white;
}

.red {
  color:red;
}


.large{
  font-size: 130%;
}

.small{
  font-size: 50%;
}

.tiny{
  font-size:10%;
}

.small-code pre code {
  font-size: 1em;
}


.remark-slide-content {
    font-size: 24px;
    padding: 1em 4em 1em 4em;
}